{% extends 'base.html.twig' %}

{% block title %}Animal rating - Vote pour ton animal préféré{% endblock %}

{% block body %}
    <h1>Vote pour ton animal préféré</h1>
    {{ form(form) }}
{% endblock %}
