<!DOCTYPE html>
<html lang="fr" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <title>{% block title %}Animal rating{% endblock %}</title>
        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><strong>Animal rating</strong></li>
                </ul>
                <ul>
                    <li><a href="{{ path('app_vote') }}">Vote ici!</a></li>
                    <li><a href="{{ path('app_vote_admin') }}">Admin</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <article{% if label == 'error' %} class="error"{% endif %}>
                        {{ message }}
                    </article>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
    </body>
</html>
